@import "../../components/styles/base";

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: $white-smoke ;

    .img-container {
        background-image: url('../../media/images/christin-hume-Hcfwew744z4-unsplash.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;
    }

    .text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        position: fixed;
        min-width: 80%;
        padding: 20px;
        top: 80%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        overflow: hidden;
        font-family: $codefont;
        font-size: 1.2rem;
        color: $mulberry;

        p {
            padding-left: 5px;

        }

        ul {
            height: 20px;
            overflow: hidden;

            li {
                list-style-type: none;
                text-align: left;
                padding-left: 10px;
                padding-bottom: 10px;
                animation-name: swap;
                animation-duration: 8s;
                animation-iteration-count: infinite;
            }
        }

        @keyframes opacity {

            0%,
            100% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }
        }


        @keyframes swap {

            0%,
            100% {
                transform: translateY(0);
            }

            16.66%,
            33.33% {
                transform: translateY(-100%);
            }

            49.99%,
            66.66% {
                transform: translateY(-200%);
            }

            83.33% {
                transform: translateY(-300%);
            }
        }
    }


    .icon-container {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        font-size: 1rem;
        color: $mint;
        display: flex;

        div {
            margin: 5px;
        }
    }
}


@media screen and (min-width: 768px) {
    .main {
        div {
            min-width: 650px;
            font-size: 2rem;

            &:after,
            &:before {
                font-size: 3rem;
                line-height: 2.8rem;
            }

            p {
                margin-left: 10px;
            }
        }

        ul {
            height: 60px;

            li {
                padding-bottom: 50px;
            }
        }
    }
}