/* App.css */
@import "./styles/base";

body {
  margin: 0;
  padding: 0;
  background-color: $celadon;
  overflow-x: hidden;
  height: auto;
}

.app-container {
  display: grid;
  grid-template-rows: auto auto;
  margin: 20px;
  background-color: $white-smoke;
}



.main-content {
  width: auto;
  margin: 20px;
  margin-top: 0 !important;
  margin-bottom: 20px;
}