@import "./base";


.about-content {
    @include pageStyle;

    h1,
    h2 {
        @include myHeadings;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
        height: 100%;
        color: $mulberry;
        box-shadow: 0 2px 7px #00000043;
        font-size: 1.3rem;
        line-height: 34px;
        text-align: center;

        p {
            margin: 10px auto;
            font-family: $text ;
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: 100%;
        font-family: $text ;
        text-align: center;

        .skills-sections {
            background-color: $white-smoke;
            padding: 20px;
            margin: 10px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 2px 7px rgba(0, 0, 0, 0.262);
            }

            p {
                margin: 20px auto;
            }

            h3,
            h5 {
                margin: 10px auto;
                font-family: $headings;
                text-transform: uppercase;
                color: $mulberry;
            }

            hr {
                border: 0;
                border-bottom: 0.5px solid $celadon;
                margin: 10px 30px;
            }
        }
    }
}